dist/index.html
<html><head><link href="./main.css" rel="stylesheet"/><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"/></head><body></body><div class="container"><h1 class="title">HTML5 custom video player</h1><video class="media-player" id="media-player" src="../src/video/astley.mp4" preload="metadata" controls="controls" poster="../src/images/preview.jpg"></video><div class="media-controls" id="media-controls"><progress class="progress-bar" id="progress-bar" min="0" max="100" value="0"></progress><div class="controls"><div class="left"><i class="btn fa fa-play-circle fa-lg play-pause-btn" id="play-pause-btn"></i><i class="btn fa fa-stop-circle fa-lg stop-btn" id="stop-btn"></i><i class="btn fa fa-arrow-circle-left fa-lg stop-btn" id="back-btn"></i><i class="btn fa fa-arrow-circle-right fa-lg stop-btn" id="forward-btn"></i><p class="info current-time-view" id="current-time-view">0:00 </p><p class="info time-left-view" id="duration-time-view"></p></div><div class="right"><input class="volume-input" type="range" min="0" max="100" id="volume-input"/><i class="btn fa fa-volume-off fa-lg mute-btn" id="mute-btn"></i><p class="btn fa fa-arrows-alt fa-lg" id="fullscreen"></p></div></div></div><script src="./main.js"></script></div></html>

src/index.pug
html
    head
        link(href='./main.css' rel='stylesheet')
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin="anonymous")
    body
    .container
        h1.title HTML5 custom video player
        video#media-player.media-player(src='../src/video/astley.mp4' preload="metadata" controls poster='../src/images/preview.jpg')

        #media-controls.media-controls
            progress#progress-bar.progress-bar(min='0' max='100' value='0')
            .controls
                .left
                    i.btn.fa.fa-play-circle.fa-lg.play-pause-btn#play-pause-btn
                    i.btn.fa.fa-stop-circle.fa-lg.stop-btn#stop-btn
                    i.btn.fa.fa-arrow-circle-left.fa-lg.stop-btn#back-btn
                    i.btn.fa.fa-arrow-circle-right.fa-lg.stop-btn#forward-btn
                    p.info.current-time-view#current-time-view 0:00 
                    p.info.time-left-view#duration-time-view
                .right
                    input(type='range' min='0' max='100').volume-input#volume-input
                    i.btn.fa.fa-volume-off.fa-lg.mute-btn#mute-btn
                    p.btn.fa.fa-arrows-alt.fa-lg#fullscreen
        script(src='./main.js')
